#brillo{
    background-color: rgb(72, 164, 218);
}

#meson{
    background-color: rgb(107, 175, 214);  
}

body{
    background-color: rgb(107, 175, 214);
}

#solo{
    width: 100%;
}

#solo img{
    width: 100%;
}

#cosa{
    background-color: rgb(72, 164, 218);
}
